extends layout

block content
  .row
    #map.map
    #panel.panel

block script
  script(src='/javascripts/here.js')
  script(src='/javascripts/zipcodes.js')
  script(src='/javascripts/zip-center.js')
