extends layout

block css
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
  script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')

block content
  .row
    #map.map
    #panel.panel

block script
  script(src='/javascripts/leaflet-render.js')
