extends layout

block css
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
  script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')

block content
  div(class='row topContainer')
    .col-md-6
      #map.mapContainer
    .col-md-6
      #panel.zipContainer

block script
  script(src='/javascripts/leaflet-render.js')
