extends layout

block content
  .row
    #map.map
    #panel.panel

block script
  script(src='https://js.api.here.com/v3/3.0/mapsjs-core.js')
  script(src='https://js.api.here.com/v3/3.0/mapsjs-service.js')
  script(src='https://js.api.here.com/v3/3.0/mapsjs-ui.js')
  script(src='https://js.api.here.com/v3/3.0/mapsjs-mapevents.js')
  script(src='/javascripts/here.js')
  script(src='/javascripts/here-render.js')
